[submodule "trunk/libs/wawo"]
	path = trunk/libs/wawo
	url = git@github.com:ycopy/wawo.git
[submodule "trunk/libs/udns"]
	path = trunk/libs/udns
	url = git@github.com:ycopy/udns.git
[submodule "trunk/libs/vld"]
	path = trunk/libs/vld
	url = git@github.com:ycopy/vld.git
